@{
    Layout = null;
}

           
<div id="dvClienteForm" style="display: none;">

    <div class="contenttituloandtoolbar">
        <div class="tituloformulario">
            <label>Cliente</label>
        </div>

        <div class="toolbar">
            <div class="boton">
                <input type="button" data-field="btnRegresar" value="Regresar" />
            </div>
            @*<div class="boton">
                <input type="button" ac="mactmarc.2" data-field="btnEditar" value="Editar" />
            </div>*@
            <div class="boton">
                <input type="button" ac="mactmarc.2" data-field="btnCrear" value="Guardar y Salir" />
            </div>
            <div class="boton">
                <input type="button" ac="mactmarc.2" data-field="btnCrearYNuevo" value="Guardary Nuevo" />
            </div>
            <div class="boton">
                <input type="button" ac="mactmarc.2" data-field="btnActualizar" value="Guardar" />
            </div>
        </div>
    </div>
    <div class="fixcontenttituloandtoolbar"></div>
        <br />
        <span class="spaninfo"></span>
        <br />

    <!-- 
        Fix para ie (qué milagro) 
        Es necesario encerrar todos los controles input en un tag "form" para que al presionar enter sobre un de ellos
        no se ejecute el evento click del primer botón del diálogo modal.
     -->
    <form class="frame">
        <div class="secciondoc seccioncat">
            <div class="top">DatosGenerales</div>
                <div class="content">
                    <div class="inputcontent">
                            <div class="dvlabel col-2">Clave</div>
                            <div class="dvinput col">
                                <input id="txtClave" data-field="Clave" title="Clave" type="text" readonly />
                            </div>
                    </div>
                    <div class="inputcontent">
                            <div class="dvlabel col-2">
                                <span class="requerido">*</span>Nombre
                            </div>
                            <div class="dvinput col col-8">
                                <input id="txtNombre" data-field="Nombre" title="Nombre" type="text" />
                            </div>
                    </div>
                    <div class="inputcontent">
                            <div class="dvlabel col-2">
                                <span class="requerido">*</span>Apellido Paterno
                            </div>
                            <div class="dvinput col col-8">
                                <input id="txtApellidoPaterno" data-field="ApellidoPaterno" title="Apellido Paterno" type="text" />
                            </div>
                    </div>
                    <div class="inputcontent">
                            <div class="dvlabel col-2">
                               <span class="requerido">*</span>Apellido Materno
                            </div>
                            <div class="dvinput col col-8">
                                <input id="txtApellidoM" data-field="ApellidoMaterno" title="Apellido Materno" type="text" />
                            </div>
                    </div>
                    <div class="inputcontent">
                            <div class="dvlabel col-2">
                               <span class="requerido">*</span>RFC
                            </div>
                            <div class="dvinput col col-8">
                                <input id="txtRFC" data-field="RFC" title="RFC" type="text" />
                            </div>
                    </div>

                </div>
                
            </div>
            <div class="clearing"></div>
        
    </form>
</div>

<script type="text/javascript">

    var ClienteForm = function () { }

    ClienteForm.prototype = new Contenedor("dvClienteForm");

    ClienteForm.prototype.inicializa = function () {
        var self = this;

        self.addEventProperty('btnRegresar', 'click', function () {
            self.regresar();
        });

        self.addEventProperty('btnEditar', 'click', function () {
            //self.activaModoEdicion(self.getProperty('Clave'));
            goToUrl('@Url.Action("Editar", "Cliente")' + '/' + self.getProperty('Clave'));
        });

        self.addEventProperty('btnCrear', 'click', function () {
            self.crear();
        });

        self.addEventProperty('btnCrearYNuevo', 'click', function () {
            self.crear(true);
        });

        self.addEventProperty('btnActualizar', 'click', function () {
            self.actualizar();
        });

        self.leerPropiedadComo('Estatus', 'valor');

        self.addRules();
    }

    ClienteForm.prototype.regresar = function () {
        goToUrl('@Url.Action("List", "Cliente")');
    }

    ClienteForm.prototype.crear = function (nuevo) {
        var self = this;

        self.actionSuccess = function (data) {
            if (nuevo == true) {
                if (data.ErrorNumber == undefined) {
                    dialog('informativo', 'Cliente', 'El Clienteo se creó correctamente.');
                    self.activaModoNuevo();
                } else {
                    dialog('error', 'Error', data[0].MensajeUsuario);
                }
            } else {
                if (data.ErrorNumber == undefined) {
                    self.regresar();
                } else {
                    dialog('error', 'Error', data[0].MensajeUsuario);
                }
            }
        }

        self.doAction('@Url.Action("CreateCliente", "Cliente")');
    }

    ClienteForm.prototype.actualizar = function () {
        var self = this;

        self.actionSuccess = function (data) {
            if (data.ErrorNumber == undefined) {
                self.regresar();
            } else {
                dialog('error', 'Error', data[0].MensajeUsuario);
            }
        }

        self.doAction('@Url.Action("UpdateCliente", "Cliente")');
    }

    ClienteForm.prototype.addRules = function () {
        var self = this;

        self.addValidationRule('Nombre', 'required', null, 'El campo Nombre es requerido.');
        self.addValidationRule('ApellidoPaterno', 'required', null, 'El campo Apellido Paterno es requerido.');
        self.addValidationRule('ApellidoMaterno', 'required', null, 'El campo Apellido Materno es requerido.');
        self.addValidationRule('RFC', 'required', null, 'El campo rfc es requerido.');
    }

    ClienteForm.prototype.activaModoNuevo = function () {
        var self = this;

        self.clearForm();
        self.clearErrors();

        self.styleProperty('btnEditar', 'display', 'none');
        self.styleProperty('btnCrear', 'display', '');
        self.styleProperty('btnCrearYNuevo', 'display', '');
        self.styleProperty('btnActualizar', 'display', 'none');

        self.setProperty('Estatus', '1');

        $('#' + self.id).show();
    }

    ClienteForm.prototype.activaModoEdicion = function (id) {
        var self = this;

        self.readonly = false;

        self.styleProperty('btnEditar', 'display', 'none');
        self.styleProperty('btnCrear', 'display', 'none');
        self.styleProperty('btnCrearYNuevo', 'display', 'none');
        self.styleProperty('btnActualizar', 'display', '');

        self.mostrar(id);

        $('#' + self.id).show();
    }

    ClienteForm.prototype.activaModoLectura = function (id) {
        var self = this;

        self.readonly = true;

        self.styleProperty('btnEditar', 'display', '');
        self.styleProperty('btnCrear', 'display', 'none');
        self.styleProperty('btnCrearYNuevo', 'display', 'none');
        self.styleProperty('btnActualizar', 'display', 'none');

        self.mostrar(id);

        $('#' + self.id).show();
    }

    ClienteForm.prototype.mostrar = function (id) {
        var self = this;

        var r = self.doJsonRequest('@Url.Action("GetCliente", "Cliente")', { clave: id });

        if (r.ErrorNumber == undefined) {
            self.setJSON(r);
        }
        else {
            dialog('error', 'Error', r[0].MensajeUsuario);
        }
    }
</script>